<link rel="stylesheet" href="/public/css/resetAdmin.css">
<link rel="stylesheet" href="/public/css/adminRequest.css">
<script type="text/javascript" src="/public/js/menuAdmin.js"></script>
<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img
        src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65"
        class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h5 class="m-0">Phạm Khánh Duy</h5>
        <p class="font-weight-light text-muted mb-0">Quản lí thư viện</p>
      </div>
    </div>
    <div class="adminLogout" style="text-align: right">
      <a href="/user/logout">Log out</a>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="/admin" class="nav-link text-dark font-italic">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
        Trang chủ
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/book-management" class="nav-link text-dark font-italic">
        <i class="fa fa-book mr-3 text-primary fa-fw"></i>
        Quản lí sách
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/account-management" class="nav-link text-dark font-italic">
        <i class="fa fa-user mr-3 text-primary fa-fw"></i>
        Quản lí tài khoản
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/author-management" class="nav-link text-dark font-italic">
        <i class="fa fa-pencil mr-3 text-primary fa-fw"></i>
        Danh mục tác giả
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/catagory-management" class="nav-link text-dark font-italic">
        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
        Thể loại sách
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/request" class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-exclamation mr-3 text-primary fa-fw"></i>
        Yêu cầu (0)

      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/borrow-management" class="nav-link text-dark font-italic">
        <i class="fa fa-book mr-3 text-primary fa-fw"></i>
        Sách đang được mượn
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/statistic" class="nav-link text-dark font-italic">
        <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
        Thống kê
      </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->
<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
      class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small></button>

  <!-- Content -->
  <h2 class="display-4 text-white">Yêu cầu mới</h2>
  <hr>
  <form>
    <select name="request" id="requestOpt" class="custom-select col-lg-6" onchange="requestChange(this.value)">
      <option value="">Tất cả yêu cầu</option>
      <option value="Borrow book">Yêu cầu mượn sách</option>
      <option value="Extension">Yêu cầu gia hạn</option>
      <option value="Return book">Yêu cầu trả sách</option>
      <option value="Create account">Yêu cầu cấp tài khoản</option>
    </select>
  </form>
  {{#if message}}
  <div class="form-group alert {{type}}">
    <strong>{{message}}</strong>
  </div>
  {{/if}}
  <script>
    var idtemp;
    var url;
    var ida;
    var arr = [];
    var check = 1;
  </script>
  <div class="controlButton">
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseAccept"
      aria-expanded="false" aria-controls="collapseAccept">
      Xác nhận yêu cầu
    </button>
    <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseCancel"
      aria-expanded="false" aria-controls="collapseCancel">Từ chối yêu cầu</button>
  </div>

  <!-- Collapse -->
  <div class="collapse" id="collapseAccept">
    <div class="card card-body">
      <form action="accept" method="POST">
        <h6>Xác nhận & gửi mail các yêu cầu sau</h6>
        <div class="form-group">
          <label for="idEdit">Nhập ID yêu cầu: </label>
          <input class="form-control" name="idAccept" id="idAccept"></input>
        </div>
        <div class="form-group">
          <label for="note">Nội dung khác: </label>
          <textarea class="form-control" name="note" id="note"></textarea>
        </div>

        <button class="btn btn-success" type="submit" value="submit">Xác nhận</button>
      </form>
    </div>
  </div>

  <div class="collapse" id="collapseCancel">
    <div class="card card-body">
      <form action="cancel" method="POST">
        <h6>Từ chối & gửi mail các yêu cầu sau</h6>
        <div class="form-group">
          <label for="idCancel">Nhập ID yêu cầu: </label>
          <input class="form-control" name="idCancel" id="idCancel"></input>
        </div>
        <div class="form-group">
          <label for="note">Nội dung khác: </label>
          <textarea class="form-control" name="note" id="note"></textarea>
        </div>

        <button class="btn btn-danger" type="submit" value="submit">Từ chối</button>
      </form>
    </div>
  </div>
  <section>
    {{#each Request}}

    <div class="card tagRequest">
      <div class="card-header" id="header">
        <p>ID yêu cầu: {{id}}</p>
        <p>{{type}}</p>
      </div>
      <div class="card-body">

        {{#with bookInfo}}
        <h5 class="card-title">{{bookName}}</h5>
        <p class="card-text"><b>Mã thông tin sách: </b>{{id}} <a target="_blank" rel="noopener noreferrer" id="{{id}}"
            href="">Xem thêm thông tin cuốn sách
            này</a>
        </p>
        <script>
          idtemp = "{{id}}";
          ida = '#' + '{{id}}';
          url = "/admin/book-management?search=" + idtemp + "&type=id";
          $(ida).attr('href', url);
          check = 1;
        </script>
        <p class="card-text"><b>Số lượng sách còn lại: </b>{{remain}} (cuốn)</p>
        {{/with}}
        {{#with User}}
        <p class="card-text"><b>Người yêu cầu: </b>{{name}} | <b>Mã số: </b>{{personalID}} | <a target="_blank"
            rel="noopener noreferrer" {{/with}} id={{id}} href="">Xem thông tin
            người dùng này</a> </p>
        {{#with User}}
        <script>
          idtemp = "{{personalID}}";
        </script>
        {{/with}}
        <script>
          ida = '#' + '{{id}}';
          url = "/admin/account-management?search=" + idtemp + "&type=personalID";
          $(ida).attr('href', url);

        </script>
        <p class="card-text"><b>Ngày hẹn đến thư viện: </b>{{appointmentDate}}</p>
        <p class="card-text"><b>Nội dung khác: </b> {{note}}</p>
        <div style="text-align: right">

          <button class="btn btn-success" type="submit" value="submit"><i class="fa fa-check"></i> Xác nhận</button>
          <button class="btn btn-danger" type="submit" value="submit"><i class="fa fa-times"></i> Từ chối</button>
          <br>
          <a data-toggle="collapse" href="#collapseNote">Ghi chú thêm cho người dùng này</a>
          <div class="collapse" id="collapseNote">
            <div class="card card-body">
              <div class="form-group">
                <label for="content">Nội dung: </label>
                <textarea class="form-control" id="content" name="content">
                  </textarea>
                <input name="status" id="status">
                <input name="reqid" id="reqid">
                <script>
                  $('#status').hide();
                  $('#status').val("Checked");
                  $('#reqid').hide();
                  $('#reqid').val("{{id}}");
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <nav class="nav justify-content-center" aria-label="Page navigation example" id="pagination">
      {{{createPagination pagination paginationClass = "pagination"}}}
    </nav>
  </section>

</div>
<script>
  let URLParams = new URLSearchParams(location.search)
  let params = {
    search: '',
    limit: 3,
    page: 1
  }

  for (let key in params) {
    if (!URLParams.has(key)) {
      URLParams.append(key, params[key]);
    }
  }
  $(document).ready(function () {
    $('#requestOpt').val(sessionStorage.getItem("requestOption"));
    $("#li").val(URLParams.get('limit'));
    $('#pagination li').addClass('page-item');
    $('#pagination li a').addClass('page-link');
    let savePage = URLParams.get('page');
    $('#pagination li a').each((index, item) => {
      let page = $(item).attr('href').split('=')[1];
      URLParams.set('page', page);
      let href = `/admin/request?${URLParams.toString()}`;
      $(item).attr('href', href);

    });
    URLParams.set('page', savePage);
  });

  function selectParam(key, value, reset = false) {

    if (reset) {
      for (let key in params) {
        URLParams.set(key, params[key]);
      }
    }
    URLParams.set(key, value);
    let url = `/admin/request?${URLParams.toString()}`;
    location.href = url;

  }
  function requestChange(resq) {
    sessionStorage.setItem("requestOption", resq);
    selectParam('search', resq);
  }


</script>