
    <link rel="stylesheet" href="/public/css/book_info.css">

    <!-- Body ---------------------------------------------------------------------------------------------->
    <div class="container-fluid" id="body">
        <div class="row" id="body-content-top">
            <div class="col-sm-12 col-md-3" id="body-content-left">
                <img src="img/Book1.png" style="border-radius: 5px;border-style: outset;" alt="">
            </div>
            <div class="col-md-7" id="body-content-right">
                {{#with book}}
                <div>
                    <h5>Thông tin chi tiết</h5>
                    <p>- Tên: {{bookName}} <br> - Tác giả: {{author}}<br> - ISBN: {{ISBN_API}}<br> - Tags: computer, science, ai, robot<br> - Tái bản lần thứ 7</p>
                </div>
                <div>
                    <h5>Giới thiệu</h5>
                    <p id = "description">
                        {{{description}}}
                    </p>
                </div>
                {{/with}}
                <button class="btn">Mượn sách</button>
            </div>
        </div>
        <h5 style="margin-left:40px;">Dành riêng cho bạn:</h5>
        <div class="row " id="body-content-bottom">
            {{#each same}}
            <div class="col-md-4 " style="text-align: center;">
                <img src="img/Book2.jpg" alt="">
                <p>{{bookName}}</p>
            </div>
            {{/each}}
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

