<link rel="stylesheet" href="/public/css/lookup.css">
<div class="body">
  <div class="container" style="background-image: url(/public/img/searchbanner.jpg">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
        <div class="dropdown">
          {{!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="Keyword" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Từ khóa</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div id="bookname">
              <a class="dropdown-item" href="#">Tên sách</a>
            </div>
            <a class="dropdown-item" href="#" id="booktopic">Chủ đề sách</a>
            <a class="dropdown-item" href="#" id="authername">Tác giả</a>
          </div> --}}
          {{!-- <select id="keyWord" onchange="selectParam('type', this.value,true)" >
            <option value ="keyWord">Từ khóa</option>
            <option  value = "bookName" >Tên sách</option>
            <option  value ="authorName" >Sắp xếp theo năm xuất bản</option>
          </select> --}}
        </div>
      </div>
    </div>

    <form action="/book" method="GET" class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-8">
        <div class="form-group">
          <input type="search" class="form-control" name="search" value="" id="searchAPI" placeholder="Nhập vào để tìm kiếm">
        </div>
      </div>

      <div class="col-lg-2">
        <button value="submit" class="btn"
          style="height: 38px; border-radius: 10px; margin-left: 100%; transform: translate(-100%)">Tìm kiếm</button>
      </div>
      <div class="col-lg-1"></div>
    </form>

  </div>
</div>
<!--Result ----------------------------------------------------------------------------------------------- -->
<div class="container line">
  <hr>
</div>
<div class="body container">
  <div class="title">
    <h1> Kết quả</h1>
  </div>
  <div class="filter" style="display: flex">
    <select id="sort" onchange="selectParam('sort', this.value)">
      <option value="bookNameASC">Sắp xếp theo tên tăng dần</option>
      <option value="bookNameDES">Sắp xếp theo tên giảm dần</option>
      <option value="year">Sắp xếp theo năm xuất bản</option>
    </select>
    <select id="limit" onchange="selectParam('limit' , this.value)">
      <option value="3">Hiển thị 3 kết quả</option>
      <option value="6">Hiển thị 6 kết quả</option>
      <option value="9">Hiển thị 9 kết quả</option>
    </select>
  </div>

  <div class="searchAdv">
    <a data-toggle="collapse" href="#collapseExample"><i>Bộ Lọc ?</i></a>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Tác giả</label>
            <select class="form-control" id="selectAuthor" onchange="selectParam('author' , this.value)">
              {{#each authors}}

              <option>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Thể loại</label>
            <select class="form-control" id="selectCategory" onchange="selectParam('category' , this.value)">
              {{#each categories}}
              <option>{{this}}</option>
              {{/each}}
            </select>
          </div>
          {{!-- <div class="form-group">
            <label for="searchAdv_EstablishYear">Năm xuất bản</label>
            <input type="email" class="form-control" id="searchAdv_EstablishYear" placeholder="Nhập năm xuất bản">
          </div>
          <div class="form-group">
            <label for="searchAdv_Language">Ngôn ngữ</label>
            <select class="form-control" id="searchAdv_Language">
              <option>Tiếng việt</option>
              <option>Tiếng anh</option>
            </select>
          </div> --}}
        </form>
      </div>
    </div>
  </div>
  <div class="res">
    {{#each books}}
    <div class="row res-item" style="background-color: #FFEEB1; border-radius: 50px;">
      <div class="col-lg-3">
        <div class="content_img">
          <img src="{{imgPath}}" alt="No image" style="width: 80%; height:auto;">
        </div>
      </div>
      <div class="col-lg-9 bookinfo">
        <div class="bookname">
          <h1>{{bookName}}</h1>
        </div>
        <div class="bookauthor">
          <p>Tác giả: {{author}}</p>
        </div>
        <div class="booktype">
          <p>Thể loại: {{category}}</p>
        </div>
        <div class="booksummary">
          <p>{{{description}}}
          </p>
        </div>
        <div class="controlbtn">
          <button id="moreinfo" onclick="Moreinfo({{id}});">Xem thêm</button>
          <button onclick="Borrow({{id}});">Mượn sách</button>
        </div>
      </div>
    </div>
    {{/each}}
    <nav class="nav justify-content-center" aria-label="Page navigation example" id="pagination">
      {{{createPagination pagination paginationClass = "pagination"}}}
    </nav>


    {{!-- <nav aria-label="Page navigation example">
      <ul class="pagination" style="margin-left: 50%; transform: translate(-50%);">
        <div style="margin-left: 50%; transform: translate(-50%); display: flex">
          <li class="page-item">
            <a class=" page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </div>

      </ul>
    </nav> --}}
  </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- aos-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script>
  let URLParams = new URLSearchParams(location.search)
  let params = {
    search: '',
    type: 'bookName',
    author:'',
    category:'',
    sort: 'bookNameASC',
    limit: 3,
    page: 1
  }

  for (let key in params) {
    if (!URLParams.has(key)) {
      URLParams.append(key, params[key]);
    }
  }
  
  $(document).ready(function () {
    $("#sort").val(URLParams.get('sort'));
    sessionStorage.setItem('borrowType','6');
    $("#limit").val(URLParams.get('limit'));
    $("#searchAPI").val($("#searchAPI").val()+URLParams.get('search'));
    $("#keyWord").val(URLParams.get('type'));
    $("#selectAuthor").val(URLParams.get('author'));
    $("#selectCategory").val(URLParams.get('category'));
    $('#pagination li').addClass('page-item');
    $('#pagination li a').addClass('page-link');

    

    let savePage = URLParams.get('page');
    $('#pagination li a').each((index, item) => {
      let page = $(item).attr('href').split('=')[1];
      URLParams.set('page', page);
      let href = `/book?${URLParams.toString()}`;
      $(item).attr('href', href);

    });
    URLParams.set('page', savePage);
  });

  function selectParam(key, value, reset = false) {
    console.log(location.href);
    if (reset) {
      for (let key in params) {
        URLParams.set(key, params[key]);
      }
    }
    URLParams.set(key, value);
    let url = `/book?${URLParams.toString()}`;
    location.href = url;

  }

  function removeDups(names) {
  let unique = {};
  names.forEach(function(i) {
    if(!unique[i]) {
      unique[i] = true;
    }
  });
  return Object.keys(unique);
}
  /*function selectParam(key, value, reset=false){

    URLParams.set(key,value);
    let url=`/book?${URLParams.toString()}`;
    location.href=url;
  }*/
</script>
{{!-- document.getElementById("top10").onclick = function () {
    console.log("a");
    document.getElementById("resFilter2").innerHTML = ", Hiển thị top 10 kết quả";
  };

  document.getElementById("top50").onclick = function () {
    document.getElementById("resFilter2").innerHTML = ", Hiển thị top 50 kết quả";
  };

  document.getElementById("all").onclick = function () {
    document.getElementById("resFilter2").innerHTML = ", Hiển thị tất cả kết quả";
  };

  document.getElementById("pupulationRate").onclick = function () {
    document.getElementById("resFilter1").innerHTML = "Sắp xếp theo độ phổ biến";
  };

  document.getElementById("establishYear").onclick = function () {
    document.getElementById("resFilter1").innerHTML = "Sắp xếp theo năm xuất bản";
  };

  document.getElementById("sameKeyword").onclick = function () {
    document.getElementById("resFilter1").innerHTML = "Sắp xếp theo số từ khóa trùng khớp";
  };
  document.getElementById("bookname").onclick = function () {
    document.getElementById("Keyword").innerHTML = "    Tên sách  ";
  };

  document.getElementById("authername").onclick = function () {
    document.getElementById("Keyword").innerHTML = "Tác giả";
  };

  document.getElementById("booktopic").onclick = function () {
    document.getElementById("Keyword").innerHTML = "Chủ đề";
  }; --}}

<script language="javascript">

  function Borrow(id) {
    localStorage.setItem("isbn", "053av55");
    
    window.location = `../user/schedule/${id}`;
  };

  function Moreinfo(id, name) {

    window.location = `/book/${id}`;
  };
</script>