<link rel="stylesheet" href="/public/css/manage_books.css">
<div class="container-fluid" style="margin:30px">
    <div class="Manage-book-tile">
        <h2>Quản lí sách của bạn</h2>
    </div>
    <div class="number-of-books">
        <label>Đã mượn 1 cuốn sách</label>
    </div>
    <div class="content">
        <div class="row">
            <script>var count = 0; var a = []; var now = new Date();</script>
            {{#each books}}
            <div class="col-lg-3 col-md-4" style="padding-top:30px;">
                <img class="books" src="{{Book.bookInfo.imgPath}}" alt="Book1" style="width:80%; height:auto;">
            </div>
            <div class="col-lg-3 col-md-8 book-info" style="padding-top:30px;">
                <h3 class="book-name">{{Book.bookInfo.bookName}}</h3>

                <p class="author">{{Book.bookInfo.author}}</p>

                <br></br>
                <p class="borrow-day">Ngày mượn: {{borrowedDate}}</p>
                <p class="Deadlind">Ngày trả: {{dueDate}}</p>
                <br></br>
                <div id="note"></div>
                <script>
                    a.push("{{dueDate}}");

                    var temp = new Date(a[count]);
                    var x = now.getTime();
                    var y = temp.getTime();

                    var res = y - x;
                    res = res * 0.001 / 60 / 60 / 24;
                    res = Math.floor(res)
                    if (res > 0)
                        document.getElementById('note').innerHTML = "Còn " + res + " ngày trước khi hết hạn mượn sách";
                    else
                        document.getElementById('note').innerHTML = "Đã hết hạn mượn sách " + res + " ngày";
                </script>

                <div class="row">
                    <div class="col-lg-5 col-md-4">
                        <button  type="submit " class="btn btn-primary " onclick="borrow({{Book.bookInfo.id}},'1')">Gia Hạn</button>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <button type="submit " class="btn btn-primary " onclick="borrow({{Book.bookInfo.id}},'2')">Hẹn trả sách</button>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!-- <div class="col-lg-3 col-md-4" style="padding-top:30px;">
                <img class="books" src="./img/Book2.jpg" alt="Book2">
            </div>
            <div class="col-lg-3 col-md-8 book-info" style="padding-top:30px;">
                <h3 class="book-name">Computer Programming</h3>
                <p class="author">Alexander Bell</p>
                <br></br>
                <p class="borrow-day">Ngày mượn: 21-10-2019</p>
                <p class="Deadlind">Ngày trả: 21-11-2019</p>
                <br></br>
                <p class="note">{Còn 3 ngày trước khi đến hạn trả sách</p>
                <div class="row">
                    <div class="col-lg-5 col-md-4">
                        <button type="submit " class="btn btn-primary ">Gia Hạn</button>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <button type="submit " class="btn btn-primary ">Hạn trả sách</button>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</div>





<script language="javascript">

    function borrow(id, borrowType){
            sessionStorage.setItem('borrowType',borrowType);
            location.href=`../user/schedule/${id}`;
            
    }
</script>
