    <link rel="stylesheet" href="/public/css/user_profile.css">
    <div class="container-fluid" id="body">
        <div class="row" id="body-content">
            <div class="col-md-3 justify-content-center" id="body-content-left">
                <img src="/public/img/avatar.jpeg" width='190' height='270' alt="">
                <button class="btn">Edit Profile Picture</button>
            </div>
            <div class="col-md-7" id="body-content-right">
                <div class="row" id="uinfo-name">
                    <h6>- Tên: </h6>
                    <p>{{user.name}}</p>
                </div>
                <div class="row" id="uinfo-id">
                    <h6>- ID:</h6>
                    <p>{{user.personalID}}</p>
                </div>
                <div class="row" id="uinfo-age">
                    <h6>- Ngày sinh:</h6>
                    <p>{{user.birth}}</p>
                </div>
                <div class="row" id="uinfo-falcuty">
                    <h6>- Khoa:</h6>
                    <p>Công nghệ thông tin</p>
                </div>
                <div class="row" id="uinfo-birth">
                    <h6>- Địa chỉ:</h6>
                    <p> {{user.address}}</p>
                </div>
                <div class="row" id="uinfo-email">
                    <h6>- Email:</h6>
                    <p>{{user.email}}</p>
                </div>
                <div class="row" id="uinfo-phone">
                    <h6>- Số điện thoại: </h6>
                    <p> {{user.phone}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="includedFooter"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
